<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.AudioSlaves.audiounit.FullBacano</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>Aslv</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>FullBacano 1.0 Creative Commons cc 2011 __AudioSlaves__</string>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>AudioSlaves&apos; DSP AU Plugin</string>
			<key>factoryFunction</key>
			<string>FullBacanoFactory</string>
			<key>manufacturer</key>
			<string>AudioSlaves</string>
			<key>name</key>
			<string>AudioSlaves: FullBacano</string>
			<key>subtype</key>
			<string>Pass</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<string>65536</string>
		</dict>
	</array>
</dict>
</plist>
